%word-wrap {
	white-space: nowrap;
	word-break: break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

%truncate-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}