<md-sidenav-layout fullscreen>
	<md-sidenav #sidenav>
		<md-nav-list>
			<a md-list-item>
				<md-icon md-list-icon class="material-icons">assignment ind</md-icon>
				<span md-line>My Account</span>
				<span md-line class="secondary">Edit account information</span>
			</a>
		</md-nav-list>
	</md-sidenav>
	<md-toolbar class="md-primary">
		<div class="md-toolbar-tools" role="navigation">
			<button *ngIf="isAuth()" md-icon-button (click)="sidenav.open()">
				<md-icon class="material-icons">menu</md-icon>
			</button>
			<button md-button (click)="onSelectRoute('/index')">HOME</button>
			<button *ngIf="!isAuth()" md-button (click)="onSelectRoute('/registration')">REGISTER</button>
			<button *ngIf="!isAuth()" md-button (click)="onSelectRoute('/login')">LOGIN</button>
			<button *ngIf="isAuth()" md-button (click)="onSelectRoute('/messages')">MESSAGES</button>
			<span flex></span>
			<button *ngIf="isAuth()" (click)="logOut()" md-icon-button aria-label="Sign Out">
				<md-icon class="material-icons">power_settings_new</md-icon>
			</button>
		</div>
	</md-toolbar>
</md-sidenav-layout>
