md-toolbar {
	a {
		font-family: 'Lato', sans-serif;
	}
	.md-toolbar-tools {
		padding-left: 0;
	}
}

.secondary {
	color: #999;
	padding-top: 4px !important;
}

.content {
	margin-top: 30px;
	padding: 5px 16px 0;
}
